<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navigation.drawer.activity"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        	We will launch BaseActivity as launcher.
        	We will check if BaseActivity launch first time and open desired activity and set navigation item selected
        -->
        <activity
            android:name="com.example.hp.navigation.activity.BaseActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.hp.navigation.activity.HomeActivity" />
        <activity android:name="com.example.hp.navigation.activity.Item1Activity" />
        <activity android:name="com.example.hp.navigation.activity.Item2Activity" />
        <activity android:name="com.example.hp.navigation.activity.Item3Activity" />
        <activity android:name="com.example.hp.navigation.activity.Item4Activity" />
        <activity android:name="com.example.hp.navigation.activity.Item5Activity" />
        <activity
            android:name="com.example.hp.navigation.searchactivity"
            android:label="@string/title_activity_searchactivity"
            android:parentActivityName="com.example.hp.navigation.activity.BaseActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
